.drone_propelar{
    border: 2px solid blue;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.main_engin_body,
.assembler,
.scrue,
.propelar,
.propelar_r1,
.propelar_r2{
   transition-duration: 3s;
    
}
.main_engin_body{
    position: absolute;
    left: 0;
    bottom: 200px;
    opacity: 1;
}
.assembler{
    position: absolute;
    left: 18px;
    bottom: 290px;
    opacity: 1;
}
.scrue{
    position: absolute;
    left: 20px;
    bottom: 340px;
    opacity: 1;
}
.propelar{
    position: absolute;
    opacity: 1;
    left: -200px;
    top: 310px;
    transform: rotate(90deg);
    /* border: 2px solid red; */
  
}

.propelar_r1{
    position: absolute;
    left: 20px;
    bottom: 385px;
    opacity: 1;
}
.propelar_r2{
    position: absolute;
    left: 30px;
    bottom: 420px;
    opacity: 1;
}


.drone_propelar:hover .main_engin_body{

    position: absolute;
    left: 50%;
    bottom: 200px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.drone_propelar:hover .assembler{

    position: absolute;
    left: 617px;
    bottom: 280px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}

.drone_propelar:hover .scrue{
    position: absolute;
    left: 618px;
    bottom: 278px;
    
    opacity: 1;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.drone_propelar:hover .propelar{
    position: absolute;
    left: 285px;
    bottom: 300px;
    opacity: 1;
    transition-delay: .15s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}
.drone_propelar:hover .propelar_r1{

    position: absolute;
    left: 620px;
    bottom: 335px;
    opacity: 1;
    transition-delay: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}

.drone_propelar:hover .propelar_r2{

    position: absolute;
    left: 630px;
    bottom: 340px;
    opacity: 1;
    transition-delay: .25s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}
.scrue img,
.propelar img,
.propelar_r1 img,
.propelar_r2 img{
    
    animation: img 8s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}