.drone_propelar{
    border: 2px solid blue;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: brown;
}
.main_engin_body,
.assembler,
.scrue,
.propelar,
.propelar_r1,
.propelar_r2{
   transition-duration: .1s;
    
}
.main_engin_body{
    position: absolute;
    left: 0;
    bottom: 200px;
    opacity: 1;
}
.assembler{
    position: absolute;
    left: 18px;
    bottom: 290px;
    opacity: 1;
}
.scrue{
    position: absolute;
    left: 20px;
    bottom: 340px;
    opacity: 1;
}
.propelar{
    position: absolute;
    opacity: 1;
    left: -200px;
    top: 320px;
    transform: rotate(90deg);
    /* border: 2px solid red; */
  
}

.propelar_r1{
    position: absolute;
    left: 20px;
    bottom: 385px;
    opacity: 1;
}
.propelar_r2{
    position: absolute;
    left: 30px;
    bottom: 420px;
    opacity: 1;
}


.drone_propelar:hover .main_engin_body{

    position: absolute;
    left: 50%;
    bottom: 200px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.drone_propelar:hover .assembler{

    position: absolute;
    left: 617px;
    bottom: 280px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}

.drone_propelar:hover .scrue{
    position: absolute;
    left: 618px;
    bottom: 278px;

    opacity: 1;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.drone_propelar:hover .propelar{
    position: absolute;
    left: 285px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 1;
    transition-delay: .15s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
    animation: img 3s linear infinite;
}
.drone_propelar:hover .propelar_r1{

    position: absolute;
    left: 620px;
    bottom: 335px;
    opacity: 1;
    transition-delay: .2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}

.drone_propelar:hover .propelar_r2{

    position: absolute;
    left: 630px;
    bottom: 340px;
    opacity: 1;
    transition-delay: .25s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;
}
/* .drone_propelar img:hover {
    animation: img 3s linear infinite;
} */
/* .propelar_r1 img:hover{
    animation: img 3s linear infinite;
} */

@keyframes img{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(-360deg);
    }
}